/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Layout Styling */
body,
html,
#app {
  height: 100%;
  font-family: "Prompt", "Arial", sans-serif;
}

#app {
  padding: 0.75rem;
}
